@charset "utf-8"

@import "~bulma/sass/utilities/_all"
$weight-semibold: 600

$green: #009b48
$pink: #ff3e94
$pink-invert: #fac1ff
$primary: #009b48
$primary-invert: #aacfff
$danger: $orange
$family-sans-serif:  "Roboto", Arial, Helvetica, sans-serif, Trebuchet MS
$family-primary: $family-sans-serif
// $background: #ffffff
$link-focus: #000000
$link-hover: #000000
$link-active: #000000
$link-hover: #000000

@import "~bulma/sass/base/_all"
@import "~bulma/sass/components/dropdown.sass"
@import "~bulma/sass/components/card.sass"
@import "~bulma/sass/components/navbar.sass"
@import "~bulma/sass/components/menu.sass"
@import "~bulma/sass/components/level.sass"

$pagination-color: #ffffff
$pagination-hover-color: #e8768d
$pagination-current-background-color: #e8768d
$pagination-current-border-color: #ffffff
@import "~bulma/sass/components/pagination.sass"

@import "~bulma/sass/elements/button.sass"
@import "~bulma/sass/elements/box.sass"
@import "~bulma/sass/elements/icon.sass"
@import "~bulma/sass/elements/other.sass"
@import "~bulma/sass/elements/container.sass"
@import "~bulma/sass/elements/title.sass"
@import "~bulma/sass/elements/image.sass"
@import "~bulma/sass/elements/tag.sass"

@import "~bulma/sass/layout/_all.sass"
@import "~bulma/sass/grid/columns.sass"



$footer-background-color: #ffffff

.coral-footer
  @extend .footer
  background-color: #ffffff
  padding-top: 0px !important
  padding-top: 5px !important

.hero-home
  @extend .hero
  background-repeat: no-repeat
  background-size: cover
  background-position: center top
  background-color: #00405c

$FontPath: "~/assets/font/" !default
$FontName: "Roboto" !default

=font-face($family, $path, $weight: 400, $style: normal)
  @font-face
    font-family: $family
    src: url('#{$path}#{$family}-#{$style}.ttf') format('truetype')
    font-weight: $weight
    font-style: $style

+widescreen
+fullhd
  +font-face('Roboto','~/assets/font/',100,'Thin')
  +font-face('Roboto','~/assets/font/',400,'Regular')
  +font-face('Roboto','~/assets/font/',500,'Medium')
  +font-face('Roboto','~/assets/font/',900,'Black')


.badge
  vertical-align: middle;
  margin: 2px 2px 2px 2px
  display: inline-block
  padding: 2px 7px 1px 7px
  font-size: 1em
  font-weight: 600
  line-height: 1
  text-align: center
  white-space: nowrap
  vertical-align: baseline
  border-radius: 20px
  background-color: #999999
  color: #FFFFFF
