@charset "utf-8"

@import "~bulma/sass/utilities/_all"
$weight-semibold: 600

$green: #009b48
$pink: #ff3e94
$pink-invert: #fac1ff
$primary: #009B48
$primary-invert: #aacfff
$danger: $orange
$family-sans-serif:  "Roboto", sans-serif
$family-primary: $family-sans-serif
// $background: #ffffff

$link-hover: #000000

$footer-background-color: #ffffff

@import "~bulma/sass/base/_all"


@import "~bulma/sass/components/dropdown.sass"
@import "~bulma/sass/components/card.sass"
@import "~bulma/sass/components/navbar.sass"
@import "~bulma/sass/components/menu.sass"
@import "~bulma/sass/components/level.sass"

@import "~bulma/sass/elements/button.sass"
@import "~bulma/sass/elements/box.sass"
@import "~bulma/sass/elements/icon.sass"
@import "~bulma/sass/elements/other.sass"
@import "~bulma/sass/elements/container.sass"
@import "~bulma/sass/elements/title.sass"
@import "~bulma/sass/elements/image.sass"
@import "~bulma/sass/elements/tag.sass"

@import "~bulma/sass/layout/_all.sass"
@import "~bulma/sass/grid/columns.sass"


.coral-footer
  @extend .footer
  background-color: #ffffff
  padding-top: 0px !important
  padding-top: 5px !important

.hero-home
  @extend .hero
  background-repeat: no-repeat
  background-size: cover
  background-position: center top
  background-color: #0086b7

$FontPath: "~/assets/font/" !default
$FontName: "Roboto" !default

=font-face($family, $path, $weight: 400, $style: normal)
  @font-face
    font-family: $family
    src: url('#{$path}#{$family}-#{$style}.ttf') format('truetype')
    font-weight: $weight
    font-style: $style


+desktop
  +font-face('Roboto','~/assets/font/',100,'Thin')
  +font-face('Roboto','~/assets/font/',400,'Regular')
  +font-face('Roboto','~/assets/font/',500,'Medium')
  +font-face('Roboto','~/assets/font/',900,'Black')
+widescreen
  +font-face('Roboto','~/assets/font/',100,'Thin')
  +font-face('Roboto','~/assets/font/',400,'Regular')
  +font-face('Roboto','~/assets/font/',500,'Medium')
  +font-face('Roboto','~/assets/font/',900,'Black')
+fullhd
  +font-face('Roboto','~/assets/font/',100,'Thin')
  +font-face('Roboto','~/assets/font/',400,'Regular')
  +font-face('Roboto','~/assets/font/',500,'Medium')
  +font-face('Roboto','~/assets/font/',900,'Black')
