
.icon-users:before { content: '\e800'; } /* '' */
.icon-info-circled:before { content: '\e801'; } /* '' */
.icon-lock:before { content: '\e802'; } /* '' */
.icon-cancel:before { content: '\e803'; } /* '' */
.icon-help-circled:before { content: '\e804'; } /* '' */
.icon-search:before { content: '\e805'; } /* '' */
.icon-network:before { content: '\e806'; } /* '' */
.icon-ok:before { content: '\e807'; } /* '' */
.icon-link-ext:before { content: '\f08e'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-gauge:before { content: '\f0e4'; } /* '' */
.icon-angle-up:before { content: '\f106'; } /* '' */
.icon-angle-down:before { content: '\f107'; } /* '' */
.icon-doc-text-inv:before { content: '\f15c'; } /* '' */
.icon-language:before { content: '\f1ab'; } /* '' */
.icon-address-card:before { content: '\f2bb'; } /* '' */