
.slide-enter-active {
  animation: slide-in 4s;
}
.slide-leave-active {
  animation: slide-out 4s;
}
@keyframes slide-in {
  0% { transform: translate3d(-100%, 0, 0);}
  50% { transform: translate3d(-50%, 0, 0); }
  100% { transform: translate3d(0, 0, 0); }
}

@keyframes slide-out {
  0% { transform: translate3d(0, 0, 0);}
  50% { transform: translate3d(+50%, 0, 0); }
  100% { transform: translate3d(+100%, 0, 0); }
}


.debug {
  border: 1px solid red;
}
.debug2 {
  border: 2px solid red;
}
.debug3 {
  border: 3px solid red;
}

.rtl{
  direction:rtl;
  font-family:"Droid Arabic Kufi", "Droid Sans", sans-serif;
  font-size:1em;
}
body {
  min-height:100vh;
}
/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .4s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translatey(35px);
  opacity: 0;
}
