
.page-enter-active, .page-leave-active {
  transition: all .25s ease-out;
}
.page-enter, .page-leave-active {
  opacity: 0;
  transform-origin: 50% 50%;
}
.debug {
  border: 1px solid red;
  min-width: 50px;
  min-height: 50px;
}
.rtl{
  direction:rtl;
  font-family:"Droid Arabic Kufi", "Droid Sans", sans-serif;
  font-size:1em;
}
body {
  min-height:100vh;
}
/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .4s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translatey(35px);
  opacity: 0;
}
.subtitles{
  margin: 1.5em 0 1.5em 0;
  padding: 0 1.5em 0 1.5em;
}

.subtitles .title{
  font-size: 2em
}
.title{
  font-size: 2em
}
.pointer{
  cursor:pointer;
}

@media screen and (min-width: 1024px) {
  body{
    font-size: 1.3em;
  }
  .subtitles{
    padding: 0 0 0 0;
  }
}

.navbar-item:hover,.navbar-link:hover, .is-active {
    color: #979797  !important;
}
.grad-bar{
  width:200px;
  height:5px;
}
